#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
_ReSharper.Generic.Service/BuildScriptCache/.crc
_ReSharper.Generic.Service/BuildScriptCache/6/5a5d7b9f.dat
_ReSharper.Generic.Service/CompletionStatistics/Statistics.dat
_ReSharper.Generic.Service/ConditionalNames/.crc
_ReSharper.Generic.Service/ConditionalNames/6/5a5d7b9f.dat
_ReSharper.Generic.Service/NamedArguments/.crc
_ReSharper.Generic.Service/NamedArguments/6/5a5d7b9f.dat
_ReSharper.Generic.Service/PersistenIdIndex.bin
_ReSharper.Generic.Service/RecentItems/RecentFiles.dat
_ReSharper.Generic.Service/SymbolCache.bin
_ReSharper.Generic.Service/TodoItems/.crc
_ReSharper.Generic.Service/TodoItems/6/5a5d7b9f.dat
_ReSharper.Generic.Service/WordIndex/.crc
_ReSharper.Generic.Service/WordIndex/6/5a5d7b9f.dat
_ReSharper.Generic.Service/WordIndex/9/694e4a7e.dat
Persistence.Implementation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
_ReSharper.Generic.Service/BuildScriptCache/.crc
_ReSharper.Generic.Service/BuildScriptCache/6/5a5d7b9f.dat
_ReSharper.Generic.Service/CompletionStatistics/Statistics.dat
_ReSharper.Generic.Service/ConditionalNames/.crc
_ReSharper.Generic.Service/ConditionalNames/6/5a5d7b9f.dat
_ReSharper.Generic.Service/NamedArguments/.crc
_ReSharper.Generic.Service/NamedArguments/6/5a5d7b9f.dat
_ReSharper.Generic.Service/PersistenIdIndex.bin
_ReSharper.Generic.Service/RecentItems/RecentFiles.dat
_ReSharper.Generic.Service/SymbolCache.bin
_ReSharper.Generic.Service/TodoItems/.crc
_ReSharper.Generic.Service/TodoItems/6/5a5d7b9f.dat
_ReSharper.Generic.Service/WordIndex/6/5a5d7b9f.dat
_ReSharper.Generic.Service/WordIndex/9/694e4a7e.dat
Persistence.Implementation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
_ReSharper.Generic.Service/BuildScriptCache/.crc
_ReSharper.Generic.Service/BuildScriptCache/6/5a5d7b9f.dat
_ReSharper.Generic.Service/CompletionStatistics/Statistics.dat
_ReSharper.Generic.Service/ConditionalNames/.crc
_ReSharper.Generic.Service/ConditionalNames/6/5a5d7b9f.dat
_ReSharper.Generic.Service/NamedArguments/.crc
_ReSharper.Generic.Service/NamedArguments/6/5a5d7b9f.dat
_ReSharper.Generic.Service/PersistenIdIndex.bin
_ReSharper.Generic.Service/RecentItems/RecentFiles.dat
_ReSharper.Generic.Service/SymbolCache.bin
_ReSharper.Generic.Service/TodoItems/.crc
_ReSharper.Generic.Service/TodoItems/6/5a5d7b9f.dat
_ReSharper.Generic.Service/WordIndex/6/5a5d7b9f.dat
_ReSharper.Generic.Service/WordIndex/9/694e4a7e.dat
Persistence.Implementation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
