<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections> 
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDataManager" type="Persistence.Interface.IDataManager, Persistence.Interface" />
    <alias alias="DataManager" type="Persistence.Implementation.DataManager, Persistence.Implementation" />
    <alias alias="IBusinessManager" type="Business.Interface.IBusinessManager, Business.Interface" />
    <alias alias="BusinessManager" type="Business.Implementation.BusinessManager, Business.Implementation" />
    <container> 
      <register type="IDataManager" mapTo="DataManager" />
      <register type="IBusinessManager" mapTo="BusinessManager" />
    </container> 
  </unity>  
  <appSettings>
    <add key="ServiceName" value="XYZ SOA Services" />
    <add key="AssemblyName" value="Service.Host.dll" />
    <add key="CostChangeMocking" value="false" />
    <add key="NewItemeMocking" value="true" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
   <!-- Reporting Services Settings -->
  <add key="RssURL" value="http://x.x.x.x:80/ReportServer" />
  <add key="RssServer" value="x.x.x.x" />
  <add key="RssUserId" value="xxx" />
  <add key="RssPassword" value="xxxxx" />
  <add key="RssReportPath" value="/Reports/XYZ_QA/" />
    
  </appSettings>
  <connectionStrings>
    <add name="XYZ_DEV_DB" providerName="System.Data.SqlClient" connectionString="Data Source=x.x.x.x;Initial Catalog=XYZ_DEV;User Id=xxx;Password=xxxx;Max Pool Size=500;Min Pool Size=1;Timeout=90" />

    <add name="XYZ_QA_DB" providerName="System.Data.SqlClient" connectionString="Data Source=x.x.x.x;Initial Catalog=XYZ_DEV;User Id=xxx;Password=xxxx;Max Pool Size=500;Min Pool Size=1;Timeout=90" />

    <add name="XYZ_STAGE_DB" providerName="System.Data.SqlClient" connectionString="Data Source=x.x.x.x;Initial Catalog=XYZ_DEV;User Id=xxx;Password=xxxx;Max Pool Size=500;Min Pool Size=1;Timeout=90" />
    
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>